* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    background-color: #E5E5E5;
}

.container {
    width: 375px;
    background-color: #f4f4f4;
    margin: 0 auto;
    margin-top: 100px;
    
}
header {
    background-color: #1883E5;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding: 22px;
}
main {
    padding: 24px 24px 0 24px;
}

label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 4px;
    display: block;
}
select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    padding-left: 16px;
    margin-bottom: 24px;
    outline: none;
    appearance: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

}
input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    padding-left: 16px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 18px;
}
button {
    background-color: #1883E5;
    border: none;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-top: 24px;
}

button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1883E5;
    border-radius: 4px;
}
.currency-container  {
    
    
    text-align:  center;
    padding: 10px;
}

.currency-name {
    line-height: 19px;
    color: #777777;
    margin-top: 8px;
}
.currency-value {
    
    color: #1883E5;
    font-size: 20px;
    font-weight: bold;

} 

.arrow-img {
    margin: 0 auto;
    display: block;
    margin: 15px auto;
    
}

